.program-container{
    width: 221px;
    height: 370px;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    text-align: center;
}

@media(max-width: 767px){
    .program-container{
        width: 90%;
        height: 470px;
    }
    img{
        width: 285px;
        height: 288px;
    }
}
@media (min-width: 600px) and (max-width: 1024px){
    .program-container{
        width: 195px !important;
    }
}
.image-container{
    background-color: lightgray;
    box-sizing: border-box;
    padding: 0px 10px;
}

span{
    color: #4c5497;
    font-size: 15px;
}

label{
    font-weight: 600;
    font-size: 16px;
    text-align: left !important;
}

ul{
    margin: 2px;
    padding: 0 0 0 20px;
}

li{
    width: 0%;
    color: #4c5497;
}

.program-name{
    color: #4c5497;
    font-weight: 600;
    display: block;
}